---
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Portfolio from "../components/Portfolio.astro";
import About from "../components/About.astro";
import Section from "../components/Section.astro";
import ContentContainer from "../components/content-containers/ContentContainer.astro";
import Layout from "../layouts/Layout.astro";
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Dylan Botuli | Home">
    <Navbar />
    <ContentContainer colour="white">
        <Section>
            <Hero />
        </Section>
    </ContentContainer>
    <ContentContainer>
        <Section>
            <Services />
        </Section>
    </ContentContainer>
    <!-- <ContentContainer colour="white">
        <Section>
            <Portfolio />
        </Section>
    </ContentContainer> -->
    <ContentContainer colour="white">
        <Section> <About /> </Section>
    </ContentContainer>
    <ContentContainer>
        <Section>
            <CallToAction text="Want to talk about your website?" />
        </Section>
    </ContentContainer>

    <Footer />
</Layout>
